/seniorProject/ga/target/
/seniorProject/ga-maze-solver/target/
/seniorProject/maze/target/
/seniorProject/rest/target/
/seniorProject/ui/nbproject/private/
/seniorProject/ui/app/bower_components/
/seniorProject/ui/node_modules/